body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: green;
  font-family: 'Cormorant', serif;
}

html{
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.navbar {
  background-color: white;
  overflow: hidden;
  height: 60px;
  display: flex;
}

.navbar .logo {
  width: 50px; 
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 1%;
  margin-left: 1%;
  float: left;
}

.navbar a {
  float: left;
  display: block;
  color: green;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 1%;
}

.navbar a.passive {
  float: left;
  margin-left: 25px;
}

.navbar a.Ayurveda {
  color: darkgreen;
  font-size: 40px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-right: 5%;
  margin-left: 0;
}

.navbar input.search {
    width: 25%;
    height: 40px;
    float: left;
    margin-top: 7px;
    margin-bottom: 7px;
    font-family: 'Cormorant', serif;
    font-size: 25px;
    padding-left: 1%;
}

.navbar button.submitbutton {
    font-size: 35px;
    float: left;
    color: white;
    background-color: green;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 1%;
    margin-right: 2%;
    border-radius: 10px;
    border-color: lightgreen;
    font-family: 'Cormorant', serif;
}

.dropdown {
    overflow: hidden;
    text-align: center;
    width: 200px;
    margin-right: 0px;
}

.dropdown button {
  width:150px;
  margin-top: 10px;
  margin-right: 1%;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: white;
    color: green;
    font-size: 30px;
    text-align: center;
    font-family: 'Cormorant', serif;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    z-index: 1;
}

.dropdown-content .Categories {
    float: none;
    color: green;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar a:hover {
  background-color: darkgreen;
  color: white;
}

.navbar .icon {
  display: none;
}

.leftpanel {
  width: 50%;
  height: 95vh;
  float: left;
  background-color: green;
}

.leftpanel h1 {
  margin: 0px;
  text-align: center;
  font-size: 50px;
  color: whitesmoke;
  padding-top: 2%;
  margin-bottom: 5%;
}

.leftpanel p {
  position: relative;
  text-align: center;
  color: white;
  margin-left: 3%;
  margin-right: 3%;
  font-size: 29px;
}

.rightpanel {
  position: absolute;
  width: 50%;
  height: 110%;
  margin-left: 50%;
  background-color: white;
  border-top-style: solid;
  border-color: green ;
  background-image: url('../background.jpg');
}

.alternative {
  margin: 10%;
  height: 50vh;
  width: 80%;
  /* opacity: 0.8; */
  background-color: rgba(0, 128, 0, 0.85);
  border-style: solid;
  border-width: 10px;
  border-radius: 50px;
  border-color: darkgreen;
}

.alternative h1 {
  
  margin: 0px;
  text-align: center;
  font-size: 60px;
  color: white;
  padding-top: 2%;
  margin-bottom: 5%;
}

.alternative p {
  color: white;
  margin-left: 10%;
  margin-right: 3%;
  font-size: 40px;
}

.alternative input.searchfinder {
    width: 80%;
    height: 40px;
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    border-style: solid;
    border-width: 5px;
    border-color: darkgreen;
    border-radius: 5px;
    font-family: 'Cormorant', serif;
    font-size: 25px;
    padding-left: 1%;
}

.alternative button.alternativefinder {
    font-size: 40px;
    color: green;
    float: left;
    background-color: white;
    margin-bottom: 7px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    width: 60%;
    height: 20%;
    border-width: 10px;
    border-radius: 10px;
    border-color: darkgreen;
    font-family: 'Cormorant', serif;
}

.alternative button:hover {
  background-color: green;
  color: white;
  border-width: 5px;
  border-radius: 10px;
  border-color: white;
}

.howitworks {
  position: relative;
  margin: 10%;
  height: 35vh;
  width: 80%;
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-radius: 50px;
  border-color: green;
}

.howitworks h2 {
  margin: 0px;
  text-align: center;
  font-size: 40px;
  color: darkgreen;
  padding-top: 2%;
}

.howitworks p {
  position: relative;
  color: green;
  margin-left: 3%;
  font-size: 25px;
  margin-top: 1%;
}

.howitworks div {
  position: relative;
}

/* footer {
  background-color: green;
  text-align: center;
  color: white;
  font-family: 'Cormorant', serif;
  font-size: 25px;
  border-top-style: solid;
  border-color: white;
} */
